// Specific CSS for your home-page
// Specific CSS for your home-page
body {
 background-color: #D6D6D6;
}

.banner {
  background-size: cover;
  background-position: 100%;
  width: auto;
  height: 246px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn {
  color: white;
  background-color: #0a0f25;
  padding: 8px 24px;
  margin: 10px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 1;
  color: white;
  background-color: rgba(8, 13, 33, 0.5);
  font-weight: 500;
}

.card-category {
  background-size: cover;
  background-position: center;
  width: 54vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  position: relative;

  .element {
    position: absolute;
    top: -5px;
    right: 9px;
  }
}

a {
    text-decoration: none !important;
    color: white;
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 10%;
  margin: 18px;
  width: 54vh;
  display: flex;
  padding: 0;
  border-radius: 20px;
}

.card > img {
  width: 100%;
  object-fit: cover;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container {
  display: flex;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-style: bold;
  text-shadow:
  1px 1px 2px black,
  0 0 1em #0A0F25,
  0 0 0.2em #0A0F25;
}

.movie-overview {
  font-size: 12px;
  text-align: justify;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  }

.bookmark-comment {
  font-size: 12px;
  color: #0A0F25;
}

.delete-movie {
  text-decoration: none;
  color: red;
  font-weight: bold;
  font-size: 12px;
}

.delete-list {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
}
