// Specific CSS for your home-page
// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  height: 246px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn {
  color: #000000;
  background-color: #DCDCDC;
  padding: 8px 24px;
  margin: 10px;
  border-radius: 50px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
}

.btn:hover {
  opacity: 1;
  color: #DCDCDC;
  background-color: #000000;
}

.card-category {
  background-size: cover;
  background-position: center;
  width: 54vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 10%;
  width: 30%;
  width: 54vh;
  display: flex;
}

.card > img {
  height: 200;
  width: 100%;
  object-fit: cover;
}

.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.container {
  display: flex;
}
