<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://127.0.0.1:3000/lists">
      <img src="https://ih1.redbubble.net/image.1204240561.1374/pp,840x830-pad,1000x1000,f8f8f8.jpg"/>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:3000/lists">My Lists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:3000/lists/new">New List</a>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
      </ul>
    </div>
  </div>
</div>
